* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  padding: 0;
  max-width: 1440px;
  margin: 0 auto;
}

/* global style */
.container_section {
  padding: 0 142px;
}
